.title{
    font-size: 20px;
    margin-bottom: 2px;
}

.message{
    font-family: "comic sans ms";
    margin-bottom: 2px;
}

.creator{
    padding-top: 10px;
    color: green;
}

.divider {
    margin: 30px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

footer {
    text-align: center;
    font-size: 40px;
}